<div class="nav">
    <p-toast></p-toast>
    <div class="flex teste">
        <div class="brand">
            <a href="#"><img src="../assets/logo.png" alt="" width="150px"></a>
        </div>
            <ul class="flex">
                <li class="test"><a href="#"><i class="pi pi-home"></i> Home</a></li>
                <li class="test"><a routerLink="tecnicos"><i class="pi pi-user"></i> Técnicos</a></li>
                <li class="test"><a routerLink="clientes"> <i class="pi pi-users"></i> Clientes</a></li>
                <li class="test"><a href="#"><i class="pi pi-github"></i> Github</a></li>
                <li class="test"><a (click)="logoutTest()" style="color: rgb(246, 4, 4); font-weight: 600; cursor: pointer;"><i class="pi pi-sign-out"></i> Logout</a></li>
            </ul>
    </div>
</div> 
