
 <p-toast></p-toast>
<div class="container">
    <div class="login">
        <div class="form-login">
            <div class="img-login">
                <img src="../../../assets/logo.png" width="250px" alt="">
            </div>
            <form method="post">
                <div class="inputs">
                    <div class="input-email">
                        <span class="p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input type="email" [formControl]="email" required pInputText name="email"
                                required="required" placeholder="john.doe@exemple.com"
                                pTooltip="Usuário Teste: linus@mail.com" tooltipPosition="top"
                                [(ngModel)]="credenciais.email" />
                        </span>
                    </div>
                    <div class="input-password">
                        <span class="p-input-icon-right">
                            <i class="pi pi-lock"></i>
                            <input type="password" name="senha" pInputText placeholder="password"
                                pTooltip="Senha Teste: 123" tooltipPosition="top"
                                [(ngModel)]="credenciais.senha" required [formControl]="senha" />
                        </span>
                    </div>
                </div>
            </form>
            <div class="btn">
                    <button  [disabled]="!validaCampos()" pButton pRipple (click)="login()" label="Fazer Login" class="p-button-primary mb-2"></button>
            </div>
            <div class="forgot-password">
                <a href="#">Esqueci minha senha</a>
            </div>
        </div>
    </div>
</div>
