<p-toast></p-toast>
<div class="container">
<p-card header="Sobre o projeto" [style]="{width: '100%'}" subheader="Jamerson Souza" class="card">
    <ng-template pTemplate="header" > 
        <img alt="Card" src="../../../../assets/imgCard.jpg" class="img-card"> 
        <!-- [style]="{width: '250px'}"   -->
    </ng-template>
    <p [style]="{width: '600px'}"> Olá! Seja bem vindo(A) ao sistema Help Desk desenvolvido por mim.<br />
        Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em Angular e
        Spring Boot. <br />O sistema está rodando na nuvem sendo o front futuramente na Vercel e o back na Heroku.<br />
        O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
        Tokens JWT. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
        <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.</p>
</p-card>
</div>