<p-toast></p-toast>
<div class="container">
    <div class="card">
        <div class="createTec">
            <button routerLink="create" pButton class="p-button-success" icon="pi pi-user-plus  " label="Inserir Novo Cliente" iconPos="right"></button>
        </div>
        <h5>Clientes cadastrados no sistema</h5>
        <p-table [globalFilterFields]="['id', 'nome', 'cpf', 'email', 'dataCriacao']" #filtro [value]="listClientes"
            [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
            currentPageReportTemplate="Mostrando {first} de {last} para {totalRecords} registros"
            [rowsPerPageOptions]="[5,10,25]">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(filtro)"></button>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="filtro.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            

            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>CPF</th>
                    <th>EMAIL</th>
                    <th>DATA CRIAÇÃO</th>
                    <th>AÇÕES</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-listClientes>
                <tr>
                    <td>{{listClientes.id}}</td>
                    <td>{{listClientes.nome}}</td>
                    <td>{{listClientes.cpf}}</td>
                    <td>{{listClientes.email}}</td>
                    <td>{{listClientes.dataCriacao}}</td>
                    <td>
                        <a  pButton type="button" icon="pi pi-user-edit" class="p-button-warning mr-2" iconPos="left" routerLink="update/{{listClientes.id}}"></a>
                        <a pButton type="button" class="p-button-danger" icon="pi pi-trash" iconPos="left" routerLink="delete/{{listClientes.id}}"></a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>
</div>